## OS metafiles
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Thumbs.db

/bak/
/classes/
/vlctest/
/testurl/
/ant.bat
/build.num
/muumilaakso.js
/chatbox-api.jar
/chatbox.war.zip
/areenafeed.war
/*.bat
/copy_war_to_server.bat
/webapp/WEB-INF/lib/areenafeed.jar

